# Core Libraries
numpy
pandas
scipy
librosa

# TensorFlow and Keras
tensorflow
keras

# PyTorch
torch

# WebRTC Voice Activity Detection
webrtcvad

# Progress Bar
tqdm

# Spectral Clustering
spectralcluster